@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url("/images/4.jpeg");
}

.custom-img-two {
  background-image: url("/images/5.jpeg");
}

.custom-container {
  width: 90%;
  margin: 0 auto;
  }

@media(min-width: 850px) {
  .custom-container {
    max-width: 700px;
  }
}
